/* My first CSS */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aquamarine;
}

img {
    border: 10px solid green;
}

h1 {
    border: 5px dotted rgb(126, 31, 47);
}

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

cite {
    font-size: 1.7rem;
}

.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 10rem;
    color: #d74f25;
    text-decoration: dotted;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: rgb(46, 13, 13);
}

a:visited {
    color: green;
    font-size: 2rem;
    font-weight: normal;
}

a:hover {
    color: orange;
    text-decoration: underline;
    background-color: white;
}

a.harvard:link {
    color: maroon;
}